<div class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 ">
                    <div class="footer-title">Contact Us</div>
                    <div class="footer-content">
                        <ul>
                            <li class="phone"><i class="fas fa-phone-volume" style="transform: rotate(315deg);"></i><a
                                    href="#"> 0311 1555259</a></li>
                            <li class="email"> <i class="far fa-envelope"></i><a href="#">help@myrangja.com</a></li>
                        </ul>
                        <ul>
                            <li class="facebook"><i class="fab fa-facebook-f"></i><a href="#"> Facebook</a></li>
                            <li class="instagram"><i class="fab fa-instagram"></i> <a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 ">
                    <div class="footer-title">Information</div>
                    <div class="footer-content">
                        <ul>
                            <li class="exchange"><a href="#">Exchange & Return</a></li>
                            <li class="sizechart"><a href="#">Size Chart</a></li>
                        </ul>
                        <ul>
                            <li class="faqs"><a href="#">FAQs</a></li>
                            <li class="locations"><a href="#">Locations</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 ">
                    <div class="footer-title">Sign up for Newsletter</div>
                    <div class="footer-content ">
                        <form class="form-inline my-2 my-lg-0 footer-searchbox" action="#" method="#">
                            <input class="form-control mr-sm-2 footer-search-input" type="search"
                                placeholder="Enter Email Address" aria-label="Search">
                            <button class="btn btn-primary my-2 my-sm-0 f-searchbtn" type="submit">Subscribe</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
