  <!--product slider-->
  <div class="product-slider">
        <div class="container p-container">
            <div class="product-title">
                <strong>Best Sellers</strong>
            </div>

            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="product-content">
                        <div class="product-container">
                            <div class="product-img">
                                <img src="assets/images/1-44002d8-rang-ja_1.jpg" alt="" width="260" height="400">
                            </div>
                            <div class="product-detail ">
                                <div class="product-name"><a href="#">black vase</a></div>
                                <div class="product-price row d-block">
                                    <span class="new-price">PKR7,515.00</span>
                                    <span class="old-price"><del>PKR8,350.00</del></span>
                                </div>
                                <div class="product-buttons row ">
                                    <div class="addfavorit"><a href="#"><i class="far fa-heart"></i></a></div>
                                    <div class="addtocart">
                                        <button type="submit">Add to cart</button>
                                        <a href="#"> <i class="fas fa-shopping-cart"></i></a>
                                       
                                    </div>
                                    <div class="tocompare"><a href="#"><i class="fas fa-exchange-alt"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-content">
                        <div class="product-container">
                            <div class="product-img">
                                <img src="assets/images/1519040826528-product_6.jpeg" alt="" width="260" height="400">
                            </div>
                            <div class="product-detail ">
                                <div class="product-name"><a href="#">black vase</a></div>
                                <div class="product-price row d-block">
                                    <span class="new-price">PKR7,515.00</span>
                                    <span class="old-price"><del>PKR8,350.00</del></span>
                                </div>
                                <div class="product-buttons row ">
                                    <div class="addfavorit"><a href="#"><i class="far fa-heart"></i></a></div>
                                    <div class="addtocart">
                                        <button type="submit">Add to cart</button>
                                        <a href="#"> <i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                    <div class="tocompare"><a href="#"><i class="fas fa-exchange-alt"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-content">
                        <div class="product-container">
                            <div class="product-img">
                                <img src="assets/images/1569237801236-product_1.jpeg" alt="" width="260" height="400">
                            </div>
                            <div class="product-detail ">
                                <div class="product-name"><a href="#">black vase</a></div>
                                <div class="product-price row d-block">
                                    <span class="new-price">PKR7,515.00</span>
                                    <span class="old-price"><del>PKR8,350.00</del></span>
                                </div>
                                <div class="product-buttons row ">
                                    <div class="addfavorit"><a href="#"><i class="far fa-heart"></i></a></div>
                                    <div class="addtocart">
                                        <button type="submit">Add to cart</button>
                                        <a href="#"> <i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                    <div class="tocompare"><a href="#"><i class="fas fa-exchange-alt"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-content">
                        <div class="product-container">
                            <div class="product-img">
                                <img src="assets/images/1574668456293-product_1.jpeg" alt="" width="260" height="400">
                            </div>
                            <div class="product-detail ">
                                <div class="product-name"><a href="#">black vase</a></div>
                                <div class="product-price row d-block">
                                    <span class="new-price">PKR7,515.00</span>
                                    <span class="old-price"><del>PKR8,350.00</del></span>
                                </div>
                                <div class="product-buttons row ">
                                    <div class="addfavorit"><a href="#"><i class="far fa-heart"></i></a></div>
                                    <div class="addtocart">
                                        <button type="submit">Add to cart</button>
                                        <a href="#"> <i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                    <div class="tocompare"><a href="#"><i class="fas fa-exchange-alt"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-content">
                        <div class="product-container">
                            <div class="product-img">
                                <img src="assets/images/1519040826528-product_6.jpeg" alt="" width="260" height="400">
                            </div>
                            <div class="product-detail ">
                                <div class="product-name"><a href="#">black vase</a></div>
                                <div class="product-price row d-block">
                                    <span class="new-price">PKR7,515.00</span>
                                    <span class="old-price"><del>PKR8,350.00</del></span>
                                </div>
                                <div class="product-buttons row ">
                                    <div class="addfavorit"><a href="#"><i class="far fa-heart"></i></a></div>
                                    <div class="addtocart">
                                        <button type="submit">Add to cart</button>
                                        <a href="#"> <i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                    <div class="tocompare"><a href="#"><i class="fas fa-exchange-alt"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
