<div class="group-image" style="margin-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 banner-left">
                    <div class="banner-image">
                        <a href="#"><img src="assets/images/05.jpg" alt="" width="285" height="235"></a>
                        <div class="hover-banner">
                            <div class="inner-block">
                                <h3 class="name-category">Classics</h3>
                                <a href="#" class="shop-now">Shop now</a>
                            </div>
                        </div>
                    </div>

                    <div class="banner-image">
                        <a href="#"><img src="assets/images/04.jpg" alt="" width="285" height="235"></a>
                        <div class="hover-banner">
                            <div class="inner-block">
                                <h3 class="name-category">Print Shirt</h3>
                                <a href="/" class="shop-now">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-3 banner-center">
                    <div class="banner-image" >
                        <a href="#"> <img alt="Banner Image" width="285" height="480" src="assets/images/03.jpg"></a>
                        <div class="hover-banner">
                            <div class="inner-block">
                                <h3 class="name-category">Prints Remix</h3>
                                <a href="#" class="shop-now">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6 banner-right">
                    <div class="banner-image" style="margin-right: 0px;">
                        <a href="/"> <img  alt="Banner Image" width="580" height="235"
                                src="assets/images/02_1.jpg"></a>
                        <div class="hover-banner">
                            <div class="inner-block">
                                <h3 class="name-category">Festive Shirt</h3>
                                <a href="#" class="shop-now">Shop now</a>
                            </div>
                        </div>
                    </div>

                    <div class="banner-image" style="margin-right: 0px;">
                        <a href="#">
                            <img alt="Banner Image" width="580" height="235" src="assets/images/01.jpg"></a>
                        <div class="hover-banner">
                            <div class="inner-block">
                                <h3 class="name-category">FESTIVE - 2 PIECE AND 3 PIECE</h3>
                                <a href="#" class="shop-now">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
